<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b>

–ü—Ä–∏–≤–µ—Ç—Å—Ç–≤—É—é —Ç–µ–±—è –µ—â–µ —Ä–∞–∑!) –°–ø–∞—Å–∏–±–æ –∑–∞ —Ç–æ, —á—Ç–æ –¥–æ—Ä–∞–±–æ—Ç–∞–ª –ø—Ä–æ–µ–∫—Ç!

–ú–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –±—É–¥—É—Ç —Ç–∞–∫–∂–µ –æ–±–æ–∑–Ω–∞—á–µ–Ω—ã —Ä–∞–∑–Ω—ã–º–∏ —Ü–≤–µ—Ç–∞–º–∏, –Ω–æ —Å –ø–æ–º–µ—Ç–∫–æ–π 2:
    
    ¬´–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2: ... ¬ª

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 
    
    
–†–æ–º–∞–Ω, —Ç—ã –¥–æ—Ä–∞–±–æ—Ç–∞–ª –ø—Ä–æ–µ–∫—Ç, –¥—É–º–∞—é —Ç–µ–ø–µ—Ä—å —è –º–æ–≥—É –µ–≥–æ –ø—Ä–∏–Ω—è—Ç—å) –ñ–µ–ª–∞—é —É—Å–ø–µ—Ö–æ–≤ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –æ–±—É—á–µ–Ω–∏–∏!

</div>

<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê</b>

–ü—Ä–∏–≤–µ—Ç, –†–æ–º–∞–Ωüëã!)

–ú–µ–Ω—è –∑–æ–≤—É—Ç –û–±–∏–¥–∏–Ω –ê–Ω–¥—Ä–µ–π, —è –æ—Å—É—â–µ—Å—Ç–≤–ª—è–ª –ø—Ä–æ–≤–µ—Ä–∫—É –ø—Ä–æ–µ–∫—Ç–∞. –ú–æ–∂–µ—Ç –ø–µ—Ä–µ–π–¥–µ–º —Å—Ä–∞–∑—É –Ω–∞ <b>—Ç—ã</b>? –ï—Å–ª–∏ —ç—Ç–æ –Ω–µ–ø—Ä–∏–µ–º–ª–µ–º–æ, —Ç–æ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–π –∑–Ω–∞—Ç—å)

–ë–ª–∞–≥–æ–¥–∞—Ä—é —Ç–µ–±—è –∑–∞ —Ç–æ, —á—Ç–æ –≤–æ–≤—Ä–µ–º—è –≤—Å—ë —Å–¥–∞–ª –∏ —Ö–æ—Ä–æ—à–æ –ø–æ—Ä–∞–±–æ—Ç–∞–ª!)

`–†–æ–º–∞–Ω, —Ç—ã –∫–ª–∞—Å—Å–Ω–æ –≤—ã–ø–æ–ª–Ω–∏–ª –ø—Ä–æ–µ–∫—Ç, –Ω–æ –ø–æ–∂–∞–ª—É–π—Å—Ç–∞ –ø—Ä–æ—Ä–∞–±–æ—Ç–∞–π –º–æ–º–µ–Ω—Ç—ã, –∫–æ—Ç–æ—Ä—ã–µ —è –æ—Ç–º–µ—Ç–∏–ª. –ü—Ä–æ—à—É —Å–æ—Ö—Ä–∞–Ω–∏—Ç—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –Ω–∏—á–µ–≥–æ –Ω–µ —É–¥–∞–ª—è—Ç—å, –∞ —Å–≤–æ–∏ –∏–∑–º–µ–Ω–µ–Ω–∏—è –ø–æ–º–µ—á–∞–π –¥—Ä—É–≥–∏–º —Ü–≤–µ—Ç–æ–º. –°–ø–∞—Å–∏–±–æ!)`

–î–∞–ª–µ–µ –ø–æ —Ö–æ–¥—É —Ä–∞–±–æ—Ç—ã —Ç—ã —Å–º–æ–∂–µ—à—å –≤—Å—Ç—Ä–µ—Ç–∏—Ç—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–Ω–∏ –±—É–¥—É—Ç –æ—Ç–º–µ—á–µ–Ω—ã —Ä–∞–∑–Ω—ã–º–∏ —Ü–≤–µ—Ç–∞–º–∏:

<div class="alert alert-block alert-success">
–ü–æ—Ö–≤–∞–ª–∞ –∏ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ —Ä–∞–∑–≤–∏—Ç–∏—è
</div>
<div class="alert alert-block alert-warning">
–ù–µ–∫—Ä–∏—Ç–∏—á–Ω—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è, –Ω–æ —Å—Ç–æ–∏—Ç –æ–±—Ä–∞—Ç–∏—Ç—å –≤–Ω–∏–º–∞–Ω–∏–µ
</div>
<div class="alert alert-block alert-danger">
–ì—Ä—É–±–∞—è –æ—à–∏–±–∫–∞, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å
</div>


–ó–∞—Ä–∞–Ω–µ–µ –ø—Ä–æ—à—É –Ω–µ —É–¥–∞–ª—è—Ç—å –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, —ç—Ç–æ –≤–∞–∂–Ω–æ. –ï—Å–ª–∏ —É —Ç–µ–±—è –≤–æ–∑–Ω–∏–∫–Ω—É—Ç –≤–æ–ø—Ä–æ—Å—ã, –æ–±–æ–∑–Ω–∞—á—å –∏—Ö, —è —Å —Ä–∞–¥–æ—Å—Ç—å—é —Ç–µ–±–µ –ø–æ–º–æ–≥—É!)

–ö–∞–∫ –≤–∞—Ä–∏–∞–Ω—Ç, –º–æ–∂–µ—à—å –æ–±–æ–∑–Ω–∞—á–∏—Ç—å –∏—Ö —Ç–∞–∫:
<div class="alert alert-block alert-info">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –°–¢–£–î–ï–ù–¢–ê:</b>
</div>

# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –Ω–∞–¥—ë–∂–Ω–æ—Å—Ç–∏ –∑–∞—ë–º—â–∏–∫–æ–≤

–ó–∞–∫–∞–∑—á–∏–∫ ‚Äî –∫—Ä–µ–¥–∏—Ç–Ω—ã–π –æ—Ç–¥–µ–ª –±–∞–Ω–∫–∞. –ù—É–∂–Ω–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è, –≤–ª–∏—è–µ—Ç –ª–∏ —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –∫–ª–∏–µ–Ω—Ç–∞ –Ω–∞ —Ñ–∞–∫—Ç –ø–æ–≥–∞—à–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫. –í—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ—Ç –±–∞–Ω–∫–∞ ‚Äî —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –æ –ø–ª–∞—Ç—ë–∂–µ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤.

–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –ø—Ä–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–∏ –º–æ–¥–µ–ª–∏ **–∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞** ‚Äî —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã, –∫–æ—Ç–æ—Ä–∞—è –æ—Ü–µ–Ω–∏–≤–∞–µ—Ç —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç—å –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ–≥–æ –∑–∞—ë–º—â–∏–∫–∞ –≤–µ—Ä–Ω—É—Ç—å –∫—Ä–µ–¥–∏—Ç –±–∞–Ω–∫—É.

## –®–∞–≥ 1. –û—Ç–∫—Ä–æ–µ–º —Ñ–∞–π–ª —Å –¥–∞–Ω–Ω—ã–º–∏ –∏ –∏–∑—É—á–∏–º –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é.  <a class="anchor" id="first-bullet"></a>

In [995]:
import pandas as pd
df = pd.read_csv('/datasets/data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [996]:
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,-4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,-5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,-4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É

–†–∞—Å—Å–º–æ—Ç—Ä–∏–º –ø–æ–ª—É—á–µ–Ω–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –ø–æ–¥—Ä–æ–±–Ω–µ–µ.

–í—Å–µ–≥–æ –≤ —Ç–∞–±–ª–∏—Ü–µ 12 —Å—Ç–æ–ª–±—Ü–æ–≤, —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö: float64(2), int64(5), object(5)

–ü–æ–¥—Ä–æ–±–Ω–æ —Ä–∞–∑–±–µ—Ä—ë–º, –∫–∞–∫–∏–µ –≤ df —Å—Ç–æ–ª–±—Ü—ã –∏ –∫–∞–∫—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ–Ω–∏ —Å–æ–¥–µ—Ä–∂–∞—Ç:

- children ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –≤ —Å–µ–º—å–µ
- days_employed ‚Äî –æ–±—â–∏–π —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂ –≤ –¥–Ω—è—Ö
- dob_years ‚Äî –≤–æ–∑—Ä–∞—Å—Ç –∫–ª–∏–µ–Ω—Ç–∞ –≤ –≥–æ–¥–∞—Ö
- education ‚Äî —É—Ä–æ–≤–µ–Ω—å –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –∫–ª–∏–µ–Ω—Ç–∞
- education_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —É—Ä–æ–≤–Ω—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
- family_status ‚Äî —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ
- family_status_id ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Å–µ–º–µ–π–Ω–æ–≥–æ –ø–æ–ª–æ–∂–µ–Ω–∏—è
- gender ‚Äî –ø–æ–ª –∫–ª–∏–µ–Ω—Ç–∞
- income_type ‚Äî —Ç–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
- debt ‚Äî –∏–º–µ–ª –ª–∏ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å –ø–æ –≤–æ–∑–≤—Ä–∞—Ç—É –∫—Ä–µ–¥–∏—Ç–æ–≤
- total_income ‚Äî –µ–∂–µ–º–µ—Å—è—á–Ω—ã–π –¥–æ—Ö–æ–¥
- purpose ‚Äî —Ü–µ–ª—å –ø–æ–ª—É—á–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö —Ä–∞–∑–ª–∏—á–∞–µ—Ç—Å—è. –≠—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –≤ –¥–∞–Ω–Ω—ã—Ö –µ—Å—Ç—å Null –∑–Ω–∞—á–µ–Ω–∏—è.
–°—Ç–æ–ª–±–µ—Ü education —Å–æ–¥–µ—Ä–∂–∏—Ç –¥—É–±–ª–∏–∫–∞—Ç—ã —Å —Ä–∞–∑–ª–∏—á–Ω—ã–º —Ä–µ–≥–∏—Å—Ç—Ä–æ–º.
–°—Ç–æ–ª–±–µ—Ü days_employed —Å–æ–¥–µ—Ä–∂–∏—Ç –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è.

–î–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è –æ—Å–Ω–æ–≤–Ω—ã—Ö —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫ –ø–æ –≤—ã–±–æ—Ä–∫–µ –∏—Å–ø–æ–ª—å–∑—É–µ–º –º–µ—Ç–æ–¥ describe:

In [997]:
df.describe(percentiles=None, include=None, exclude=None)

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

 <b>–í—ã–≤–æ–¥:</b>

–ö–∞–∂–¥–∞—è —Å—Ç—Ä–æ–∫–∞ —Ç–∞–±–ª–∏—Ü—ã —Å–æ–¥–µ—Ä–∂–∏—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –∫–ª–∏–µ–Ω—Ç–µ, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –∏–∑–±–∞–≤–∏—Ç—å—Å—è –æ—Ç –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π, –ø—Ä–∏–≤–µ—Å—Ç–∏ —Å—Ç–æ–ª–±–µ—Ü education –∫ –æ–±—â–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É, –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–µ days_employed, –∞ —Ç–∞–∫–∂–µ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –Ω–∞ –∞–Ω–æ–º–∞–ª–∏–∏: –≤ —Å—Ç–æ–ª–±—Ü–µ days_employed –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç –≤—ã–±—Ä–æ—Å—ã, –∏–º–µ—é—Ç—Å—è –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö children –∏ days_employed.
    
–ù–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–º–∏ –¥–ª—è –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è —è–≤–ª—è—é—Ç—Å—è —Å—Ç–æ–ª–±—Ü—ã debt, children –∏ family_status

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
    
–•–æ—Ä–æ—à–∏–π –ø–µ—Ä–≤–æ–Ω–∞—á–∞–ª—å–Ω—ã–π –æ–±–∑–æ—Ä

</div>

## –®–∞–≥ 2. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö <a class="anchor" id="second-bullet"></a>

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤

–ü—Ä–æ–≤–µ—Ä–∏–º –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤:

In [998]:
df.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

–î–ª—è –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∞ –Ω–µ –≤—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è. –£ 2174 –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø—Ä–æ–ø—É—â–µ–Ω –æ–±—â–∏–π —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂ –≤ –¥–Ω—è—Ö –∏ –µ–∂–µ–º–µ—Å—è—á–Ω—ã–π –¥–æ—Ö–æ–¥.
–¢–∞–∫ –∫–∞–∫ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 10% –æ—Ç –≤—Å–µ—Ö –¥–∞–Ω–Ω—ã—Ö, –∑–∞–º–µ–Ω–∏–º –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ NaN –∑–Ω–∞—á–µ–Ω–∏—è –Ω–∞ "0" –±–µ–∑ —É–¥–∞–ª–µ–Ω–∏—è —Å—Ç—Ä–æ–∫.

In [999]:
df = df.fillna(0)

–ü—Ä–æ–≤–µ—Ä–∏–º –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é:

In [1000]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

<div class="alert alert-block alert-info">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –°–¢–£–î–ï–ù–¢–ê:</b>
    
     –ü–µ—Ä–µ–Ω–µ—Å –ø—Ä–æ–≤–µ—Ä–∫—É –Ω–∞ –∞–Ω–æ–º–∞–ª–∏–∏ —Å—é–¥–∞, –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–π –æ–±—Ä–∞–±–æ—Ç–∫–∏ —Å–ª–∏—à–∫–æ–º –≤—ã—Å–æ–∫–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–∞–∂–∞
</div>

#### –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –∞–Ω–æ–º–∞–ª–∏–∏

–ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏–∏—Ä—É–µ–º –∞–Ω–æ–º–∞–ª—å–Ω–æ –≤—ã—Å–æ–∫–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–∞–∂–∞:

In [1001]:
df['days_employed'].describe()

count     21525.000000
mean      56678.874622
std      134870.763085
min      -18388.949901
25%       -2518.168900
50%        -982.531720
75%           0.000000
max      401755.400475
Name: days_employed, dtype: float64

–≠–º–ø–∏—Ä–∏—á–µ—Å–∫–∏ –Ω–∞–π–¥–µ–Ω–æ —á–∏—Å–ª–æ –¥–Ω–µ–π 320000 –Ω–∏–∂–µ –∫–æ—Ç–æ—Ä–æ–≥–æ –¥–∞–Ω–Ω—ã–µ –ø–æ—Ö–æ–∂–∏ –Ω–∞ —Ä–µ–∞–ª—å–Ω—ã–µ.

In [1002]:
df[(df['days_employed'] > 0) & (df['days_employed'] < 320000)].sort_values(by = 'days_employed')

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

In [1003]:
df[(df['days_employed'] > 0) & (df['days_employed'] < 320000)]['income_type'].value_counts()

Series([], Name: income_type, dtype: int64)

In [1004]:
df[df['days_employed'] > 320000]['income_type'].value_counts()

–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä      3443
–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π       2
Name: income_type, dtype: int64

–°—Ç–∞–∂ —Å–æ –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø—Ä–µ–≤—ã—à–∞—é—â–∏–º 320000 –¥–Ω–µ–π –≤ –æ—Å–Ω–æ–≤–Ω–æ–º —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –∫–ª–∏–µ–Ω—Ç–∞–º –∏–∑ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ "–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä".
–ù–µ–æ–±—Ö–æ–¥–∏–º–æ –æ–±—Ä–∞—Ç–∏—Ç—å –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ –ø—Ä–æ—Ü–µ—Å—Å —Å–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö.
–ü–æ –¥–∞–Ω–Ω—ã–º –ü–µ–Ω—Å–∏–æ–Ω–Ω–æ–≥–æ —Ñ–æ–Ω–¥–∞, –ø–µ–Ω—Å–∏–æ–Ω–µ—Ä—ã, –≤—ã—Ö–æ–¥—è—â–∏–µ –Ω–∞ –ø–µ–Ω—Å–∏—é, –∏–º–µ—é—Ç —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Ç—Ä—É–¥–æ–≤–æ–≥–æ —Å—Ç–∞–∂–∞ 34,5 –≥–æ–¥–∞, —á—Ç–æ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç 12592 –¥–Ω—è–º, –∑–Ω–∞—á–µ–Ω–∏—è –±–æ–ª–µ–µ 320000 –¥–Ω–µ–π –º–Ω–æ–≥–æ–∫—Ä–∞—Ç–Ω–æ –ø—Ä–µ–≤—ã—à–∞–µ—Ç —ç—Ç—É —Ü–∏—Ñ—Ä—É. <font color='blue'> –ú–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π —Å—Ç–∞–∂ —É–∫–∞–∑–∞–Ω–Ω—ã–π –≤ —Ç–∞–±–ª–∏—Ü–µ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 401755 –µ—Å–ª–∏ —Ä–∞–∑–¥–µ–ª–∏—Ç—å —ç—Ç–æ —á–∏—Å–ª–æ –Ω–∞ 24 –∏ 365 –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –±—É–¥–µ—Ç —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–æ–≤–∞—Ç—å 45 –≥–æ–¥–∞–º —Å—Ç–∞–∂–∞, —Ç.–æ. –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥, —á—Ç–æ –¥–∞–Ω–Ω—ã–µ —Å—Ç–∞–∂–∞ —Å–≤—ã—à–µ 320000 —É–∫–∞–∑–∞–Ω—ã –≤ —á–∞—Å–∞—Ö, –ø—Ä–∏–≤–µ–¥–µ–º –∫ –µ–¥–∏–Ω–æ–º—É –≤–∏–¥—É:</font>

In [1005]:
df['days_employed'] = df['days_employed'].apply(lambda x: x / 24 if x > 320000 else x)

–ò–∑–º–µ–Ω–∏–º –∑–Ω–∞–∫ —Å—Ç–∞–∂–∞ —Å–æ –∑–Ω–∞—á–µ–Ω–∏–µ–º –º–µ–Ω—å—à–µ 0.

In [1006]:
df['days_employed'] = df['days_employed'].apply(lambda x: x*(-1) if x < 0 else x)

In [1007]:
df['days_employed'].describe()

count    21525.000000
mean      4172.840808
std       5267.376071
min          0.000000
25%        610.652074
50%       1808.053434
75%       4779.587738
max      18388.949901
Name: days_employed, dtype: float64

#### –û—Ü–µ–Ω–∫–∞ –ø—Ä–∏—á–∏–Ω—ã –ø–æ—Ç–µ—Ä–∏ –¥–∞–Ω–Ω—ã—Ö –∏ –æ–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö
–û—Ü–µ–Ω–∏–º, –µ—Å—Ç—å –ª–∏ –≤–∑–∞–∏–º–æ—Å–≤—è–∑—å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö —Å –¥—Ä—É–≥–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏, –≤–æ–∑–º–æ–∂–Ω–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∫–æ—Ä—Ä–µ–ª–∏—Ä—É—é—Ç —Å –≤–≤–æ–¥–æ–º –∫–∞–∫–æ–≥–æ-–ª–∏–±–æ –ø–æ–ª—è:

In [1008]:
#–ø—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –Ω–∞–ª–∏—á–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –æ—Ç –¥–Ω–µ–π —Å—Ç–∞–∂–∞
df[df['days_employed'] == 0]['income_type'].value_counts()

—Å–æ—Ç—Ä—É–¥–Ω–∏–∫          1105
–∫–æ–º–ø–∞–Ω—å–æ–Ω           508
–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä           413
–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π         147
–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å       1
Name: income_type, dtype: int64

In [1009]:
#–ø—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –Ω–∞–ª–∏—á–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –æ—Ç –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
df[df['days_employed'] == 0]['education'].value_counts()

—Å—Ä–µ–¥–Ω–µ–µ                1408
–≤—ã—Å—à–µ–µ                  496
–°–†–ï–î–ù–ï–ï                  67
–°—Ä–µ–¥–Ω–µ–µ                  65
–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ      55
–í—ã—Å—à–µ–µ                   25
–í–´–°–®–ï–ï                   23
–Ω–∞—á–∞–ª—å–Ω–æ–µ                19
–ù–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ       7
–ù–ï–û–ö–û–ù–ß–ï–ù–ù–û–ï –í–´–°–®–ï–ï       7
–ù–ê–ß–ê–õ–¨–ù–û–ï                 1
–ù–∞—á–∞–ª—å–Ω–æ–µ                 1
Name: education, dtype: int64

In [1010]:
#–ø—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –Ω–∞–ª–∏—á–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –æ—Ç –Ω–µ–ø–æ–≥–∞—à–µ–Ω–Ω–æ–π –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–∏
df[df['days_employed'] == 0]['debt'].value_counts()

0    2004
1     170
Name: debt, dtype: int64

In [1011]:
#–ø—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –Ω–∞–ª–∏—á–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –æ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–µ—Ç–µ–π
df[df['days_employed'] == 0]['children'].value_counts()

 0     1439
 1      475
 2      204
 3       36
 20       9
 4        7
-1        3
 5        1
Name: children, dtype: int64

In [1012]:
#–ø—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –Ω–∞–ª–∏—á–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –æ—Ç —Å–µ–º–µ–π–Ω–æ–≥–æ –ø–æ–ª–æ–∂–µ–Ω–∏—è
df[df['days_employed'] == 0]['family_status'].value_counts()

–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º          1237
–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫          442
–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º     288
–≤ —Ä–∞–∑–≤–æ–¥–µ                 112
–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞             95
Name: family_status, dtype: int64

–°–æ–≥–ª–∞—Å–Ω–æ –ø—Ä–æ–≤–µ—Ä–∫–µ –º–µ—Ç–æ–¥–æ–º info –º–æ–∂–Ω–æ –∑–∞–º–µ—Ç–∏—Ç—å, —á—Ç–æ –ø—Ä–æ–ø—É—Å–∫–∏ —Å–∏–º–º–µ—Ç—Ä–∏—á–Ω—ã –≤ —Ç–∞–±–ª–∏–∏—Ü–µ –∏ –∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–¥–∏–Ω–∞–∫–æ–≤–æ —É –æ–±–æ–∏—Ö —Å—Ç–æ–ª–±—Ü–æ–≤:

days_employed       2174

total_income        2174

–ü—Ä–æ–≤–µ—Ä–∏–º —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç –ª–∏ –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö –¥—Ä—É–≥ –¥—Ä—É–≥—É:

In [1013]:
#–ø—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –Ω–∞–ª–∏—á–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ days_employed –∏ total_income
df[df['days_employed'] == 0]['total_income'].value_counts()

0.0    2174
Name: total_income, dtype: int64

–î–∞–Ω–Ω—ã–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã –≤ –æ–±–æ–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ.

#### –û—Ü–µ–Ω–∫–∞ –≤–ª–∏—è–Ω–∏—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –Ω–∞ –∫–ª—é—á–µ–≤—ã–µ –¥–∞–Ω–Ω—ã–µ

–û—Ü–µ–Ω–∏–º —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π —Å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –æ –ø—Ä–æ—Å—Ä–æ—á–µ–Ω–Ω–æ–º –∫—Ä–µ–¥–∏—Ç–µ –∫ –æ–±—â–µ–º—É –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é:

In [1014]:
print('{:.2%}'.format(df[df['total_income'] == 0]['debt'].sum() / df['debt'].sum()))

9.76%

–í 9.76% —Å—Ç—Ä–æ–∫ —Å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –æ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–∏ –æ—Ç—Å—É—Ç—Å—Ç–≤—É–µ—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏—è –æ –¥–æ—Ö–æ–¥–∞—Ö. –î–ª—è –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∏ —É—Ä–æ–≤–Ω—è –¥–æ—Ö–æ–¥–∞ –∏ –Ω–∞–ª–∏—á–∏—è –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–∏ —ç—Ç–∏ –¥–∞–Ω–Ω—ã–µ –º–æ–≥—É—Ç –ø–æ–≤–ª–∏—è—Ç—å –Ω–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç.
–ó–∞–ø–æ–ª–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –º–µ–¥–∏–∞–Ω–æ–π –∑–∞—Ä–ø–ª–∞—Ç –ø—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–≤ –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ —Ç–∏–ø—É –∑–∞–Ω—è—Ç–æ—Å—Ç–∏.

<div class="alert alert-block alert-info">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –°–¢–£–î–ï–ù–¢–ê:</b>
    
     –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–∏
</div>

In [1015]:
df_grouped = df.groupby('income_type').agg({'total_income':['mean'], 'days_employed':['mean']})
df_grouped

                  total_income days_employed
                          mean          mean
income_type
–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π      131339.751676  15267.235531
–≤ –¥–µ–∫—Ä–µ—Ç–µ         53829.130729   3296.759962
–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π      153679.631678   3057.343890
–∫–æ–º–ø–∞–Ω—å–æ–Ω        182195.618704   1900.579581
–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä        122440.317524  13579.562374
–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å  249581.572474    260.424042
—Å–æ—Ç—Ä—É–¥–Ω–∏–∫        145342.380477   2095.293025
—Å—Ç—É–¥–µ–Ω—Ç           98201.625314    578.751554

In [1016]:
group_income = df.groupby('income_type')['total_income'].median()

# –∑–∞–ø–æ–ª–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–π –¥–æ—Ö–æ–¥, –æ—Å–Ω–æ–≤—ã–≤–∞—è—Å—å –Ω–∞ —Ç–∏–ø–µ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
for i in group_income.index:
    df.loc[(df['income_type'] == i) & (df['total_income'].isnull()), 'total_income'] = group_income[i]

In [1017]:
group_days_employed = df.groupby('income_type')['days_employed'].median()

# –∑–∞–ø–æ–ª–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–π –¥–æ—Ö–æ–¥, –æ—Å–Ω–æ–≤—ã–≤–∞—è—Å—å –Ω–∞ —Ç–∏–ø–µ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
for i in group_days_employed.index:
    df.loc[(df['income_type'] == i) & (df['days_employed'].isnull()), 'days_employed'] = group_days_employed[i]

In [1018]:
#–ø—Ä–æ–≤–µ—Ä–∏–º –Ω–∞–ª–∏—á–∏–µ –Ω—É–ª–µ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ —Å –¥–æ—Ö–æ–¥–æ–º
df['total_income'].isna().sum()

0

In [1019]:
#–ø—Ä–æ–≤–µ—Ä–∏–º –Ω–∞–ª–∏—á–∏–µ –Ω—É–ª–µ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ —Å–æ —Å—Ç–∞–∂–µ–º
df['days_employed'].isna().sum()

0

–ü—Ä–æ–ø—É—Å–∫–∏ NaN –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –∏ –∑–∞–º–µ–Ω–µ–Ω—ã –Ω–∞ 0 –≤ —Å—Ç–æ–ª–±—Ü–µ days_employed –∏ total_income. –î–ª—è –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –≤–∑–∞–∏–º–æ—Å–≤—è–∑–∏ —É—Ä–æ–≤–Ω—è –¥–æ—Ö–æ–¥–∞ –∏ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–∏, –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∑–∞–º–µ–Ω–µ–Ω—ã –Ω–∞ –º–µ–¥–∏–∞–Ω—É –¥–æ—Ö–æ–¥–æ–≤. <font color='blue'> –¢–∞–∫–∂–µ –±—ã–ª–∏ –ø—Ä–∏–≤–µ–¥–µ–Ω—ã –∫ –æ–±—â–µ–º—É –≤–∏–¥—É –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ —Å—Ç–∞–∂–∞.</font>

–Ø–≤–Ω–æ–π –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –æ—Ç —Å—Ç–æ–ª–±—Ü–æ–≤ children, debt, education, income_type, family_status –Ω–µ –æ–±–Ω–∞—Ä—É–∂–µ–Ω–Ω–æ.

 <b>–í—ã–≤–æ–¥:</b>

–î–∞–Ω–Ω—ã–µ –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç —É —Ä–∞–∑–Ω—ã—Ö –∫–∞—Ç–µ–≥–æ—Ä–∏–π –∫–ª–∏–µ–Ω—Ç–æ–≤, –ø—Ä–æ–ø—É—Å–∫–∏ –æ–¥–∏–Ω–∞–∫–æ–≤–æ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É—é—Ç –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö –æ —Å—Ç–∞–∂–µ –∫–ª–∏–µ–Ω—Ç–∞ –∏ –æ–±—â–µ–º –¥–æ—Ö–æ–¥–µ, –∑–Ω–∞—á–∏–º–∞—è –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å —Å –¥—Ä—É–≥–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏ –Ω–µ –≤—ã—è–≤–ª–µ–Ω–∞, –≤–µ—Ä–æ—è—Ç–Ω–µ–µ –≤—Å–µ–≥–æ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É–µ—Ç —Å–ª—É—á–∞–π–Ω–∞—è –æ—à–∏–±–∫–∞ –≤ –∑–∞–ø–∏—Å–∏ –¥–∞–Ω–Ω—ã—Ö. –ù–µ–æ–±—Ö–æ–¥–∏–º–æ –æ–±—Ä–∞—Ç–∏—Ç—å –≤–Ω–∏–º–∞–Ω–∏–µ —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤.

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
    
–î–∞–≤–∞–π –º—ã –≤—Å–µ –∂–µ –ø–æ–ø—Ä–æ–±—É–µ–º –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ —á—É—Ç—å –ª—É—á—à–µ

1. –û–ø—Ç–∏–º–∞–ª—å–Ω–µ–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –Ω–µ —á–∏—Å—Ç—É—é –º–µ–¥–∏–∞–Ω—É, –∞ –º–µ–¥–∏–∞–Ω—É —Å —É—á–µ—Ç–æ–º –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏

2. –°—Ç–∞–∂ –ª—É—á—à–µ –∑–∞–ø–æ–ª–Ω–∏—Ç—å —á–µ–º-—Ç–æ –±–æ–ª–µ–µ –æ–±—ä–µ–∫—Ç–∏–≤–Ω—ã–º, —á–µ–º –Ω–æ–ª—å. –ü–µ—Ä–µ–¥ —ç—Ç–∏–º —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –æ–±—Ä–∞–±–æ—Ç–∞—Ç—å –∞–Ω–æ–º–∞–ª–∏–∏ –ø–æ —ç—Ç–æ–º—É –ø—Ä–∏–∑–Ω–∞–∫—É (—Å–ª–∏—à–∫–æ–º –±–æ–ª—å—à–æ–π –∏ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–π —Å—Ç–∞–∂). –ü–æ—Ö–æ–∂–µ –Ω–∞ —Ç–æ, —á—Ç–æ –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω—ã–π —Å—Ç–∞–∂ –ø—Ä–æ—Å—Ç–æ –∏–∑–º–µ—Ä—è–ª—Å—è –≤ —á–∞—Å–∞—Ö, –∞ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–π –Ω–æ—Ä–º–∞–ª—å–Ω—ã–π, –Ω–æ —Ç–æ–ª—å–∫–æ —Å –º–∏–Ω—É—Å–æ–º. –¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º + —Å—Ç–∞–∂ –º–æ–∂–Ω–æ –ø–æ–¥–µ–ª–∏—Ç—å –Ω–∞ 24, –∞ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–π –≤–∑—è—Ç—å –ø–æ –º–æ–¥—É–ª—é

3. –û–±—Ä–∞–±–æ—Ç–∞–π –Ω–µ—è–≤–Ω—ã–µ –ø—Ä–æ–ø—É—Å–∫–∏ –ø–æ –≤–æ–∑—Ä–∞—Å—Ç—É –∏ –ø–æ–ª—É. –î—É–º–∞—é, —á—Ç–æ –Ω–æ–ª—å –ø–æ –≤–æ–∑—Ä–∞—Å—Ç—É –º–æ–∂–Ω–æ –∑–∞–º–µ–Ω–∏—Ç—å –Ω–∞ –º–µ–¥–∏–∞–Ω—É —Å —É—á–µ—Ç–æ–º —Å–µ–º–µ–π–Ω–æ–≥–æ —Å—Ç–∞—Ç—É—Å–∞ –∫–ª–∏–µ–Ω—Ç–∞, –∞ xna –ø–æ –ø–æ–ª—É –Ω–∞ –Ω–∞–∏–±–æ–ª–µ–µ –ø–æ–ø—É–ª—è—Ä–Ω—ã–π –ø–æ–ª

</div>

<div class="alert alert-block alert-info">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –°–¢–£–î–ï–ù–¢–ê:</b>
    
     –ü—Ä–æ–ø—É—Å–∫–∏ –ø–æ –ø–æ–ª—É –∏ –≤–æ–∑—Ä–∞—Å—Ç—É –æ–±—Ä–∞–±–æ—Ç–∞–ª –Ω–∏–∂–µ, –ø–æ—Å–ª–µ –æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.
</div>

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 

–ö–∞—Å–∞–µ–º–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –º–æ–∂–Ω–æ –±—ã–ª–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —á—É—Ç—å –±–æ–ª–µ–µ –≥–ª—É–±–æ–∫–∏–π –ø–æ–¥—Ö–æ–¥ ‚Äî –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É!

–ê –∏–º–µ–Ω–Ω–æ: –æ—Ç —á–µ–≥–æ —É –Ω–∞—Å –∑–∞–≤–∏—Å–∏—Ç —Å—Ç–∞–∂ \ –¥–æ—Ö–æ–¥? –ö–∞–∫ –≤–∞—Ä–∏–∞–Ω—Ç –æ—Ç —Ç–∏–ø–∞ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏, –≤–µ—Ä–Ω–æ? –ò–ª–∏ –æ—Ç –≤–æ–∑—Ä–∞—Å—Ç–Ω–æ–π –≥—Ä—É–ø–ø—ã.
    
–ú–æ–∂–Ω–æ –±—ã–ª–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É –ø–æ —Ç–∏–ø—É –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ —Å –∏–∑–º–µ—Ä–µ–Ω–∏–µ–º –º–µ–¥–∏–∞–Ω–Ω–æ–≥–æ —Å—Ç–∞–∂–∞ \ –¥–æ—Ö–æ–¥–∞, –¥–∞–ª–µ–µ –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–∏–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏, —Å–æ–≥–ª–∞—Å–∏—Å—å, —Ç–∞–∫ –±—ã–ª–æ –±—ã –æ–±—ä–µ–∫—Ç–∏–≤–Ω–µ–µ?)
    
–ü—Ä–∏–º–µ—Ä—á–∏–∫:
    
    
    # –°–ü–û–°–û–ë 1, –¶–ò–ö–õ
    # —Å—Ñ–æ—Ä–º–∏—Ä—É–µ–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—á–∫—É —Å –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–æ–π –ø–æ —Ç–∏–ø—É –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ –∏ –∏–∑–º–µ—Ä–µ–Ω–∏–µ–º –º–µ–¥–∏–∞–Ω–Ω–æ–≥–æ –¥–æ—Ö–æ–¥–∞

    group_income = df.groupby('income_type')['total_income'].median()


    # –∑–∞–ø–æ–ª–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–π –¥–æ—Ö–æ–¥, –æ—Å–Ω–æ–≤—ã–≤–∞—è—Å—å –Ω–∞ —Ç–∏–ø–µ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
    for i in group_income.index:

        df.loc[(data['income_type'] == i) & (df['total_income'].isnull()), 'total_income'] = group_income[i]
        
        
    # –°–ü–û–°–û–ë 2, transform
    #—Å–æ–∑–¥–∞–µ–º –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ –ø–æ –º–µ–¥–∏–∞–Ω–µ –∑–∞—Ä–ø–ª–∞—Ç—ã
    med_salary = df.groupby('income_type')['total_income'].transform('median')

    #–∑–∞–º–µ–Ω—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏ –º–µ–¥–∏–∞–Ω–æ–π –ø–æ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø–µ
    df['total_income'] = df['total_income'].fillna(med_salary)
    
</div>

### –ó–∞–º–µ–Ω–∞ —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö

–ó–∞–º–µ–Ω–∏–º –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π –º–µ—Ç–æ–¥–æ–º –¥–ª—è –ø—Ä–∏–≤–µ–¥–µ–Ω–∏—è —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ pandas - astype.

In [1020]:
df['days_employed'] = df['days_employed'].astype(int)
df['total_income'] = df['total_income'].astype(int)

–ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

In [1021]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null int64
purpose             21525 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

 <b>–í—ã–≤–æ–¥:</b>

–í –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö days_employed –∏ total_income –∏—Å–ø—Ä–∞–≤–ª–µ–Ω—ã –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ —á–∏—Ç–∞–µ–º–æ—Å—Ç–∏ —Ç–∞–±–ª–∏—Ü—ã –∏ —Å–Ω–∏–∂–µ–Ω–∏—è –Ω–∞–≥—Ä—É–∑–∫–∏ –Ω–∞ –≤—ã—á–∏—Å–ª–∏—Ç–µ–ª—å–Ω—ã–µ –º–æ—â–Ω–æ—Å—Ç–∏ –∫–æ–¥–∞.

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
    
–¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã

</div>

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤

–ü—Ä–æ–≤–µ—Ä–∏–º –Ω–∞–ª–∏—á–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ —Å—Ç—Ä–æ–∫ –º–µ—Ç–æ–¥–æ–º duplicated():

In [1022]:
df.duplicated().sum()

54

–û–±–Ω–∞—Ä—É–∂–µ–Ω 54 –¥—É–±–ª–∏–∫–∞—Ç. –¢–∞–∫ –∫–∞–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ –≤—Å—Ç—Ä–µ—á–∞–ª–∏—Å—å –∑–Ω–∞—á–µ–Ω–∏—è –∑–∞–ø–∏—Å–∞–Ω–Ω—ã–µ —Å —Ä–∞–∑–Ω—ã–º —Ä–µ–≥–∏—Å—Ç–∞—Ä–æ–º, –ø—Ä–µ–∂–¥–µ —á–µ–º —É–¥–∞–ª–∏—Ç—å –¥—É–±–ª–∏–∫–∞—Ç—ã –ø—Ä–æ–≤–µ—Ä–∏–º –≤—Å–µ –∑–∞–ø–∏—Å–∏ –∏ –ø—Ä–∏–≤–µ–¥–µ–º –∏—Ö –∫ –æ–¥–Ω–æ–π —Ñ–æ—Ä–º–µ.

–ü—Ä–æ–≤–µ—Ä–∏–º –Ω–∞–ª–∏—á–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ education –º–µ—Ç–æ–¥–æ–º value_counts(), –¥–ª—è –Ω–∞–≥–ª—è–¥–Ω–æ–≥–æ –ø–æ–Ω–∏–º–∞–Ω–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–Ω–∞—á–µ–Ω–∏–π –≤ –æ—Ç–ª–∏—á–∏–∏ –æ—Ç –º–µ—Ç–æ–¥–∞ .unique():

In [1023]:
df['education'].value_counts()

—Å—Ä–µ–¥–Ω–µ–µ                13750
–≤—ã—Å—à–µ–µ                  4718
–°–†–ï–î–ù–ï–ï                  772
–°—Ä–µ–¥–Ω–µ–µ                  711
–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ      668
–í–´–°–®–ï–ï                   274
–í—ã—Å—à–µ–µ                   268
–Ω–∞—á–∞–ª—å–Ω–æ–µ                250
–ù–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ       47
–ù–ï–û–ö–û–ù–ß–ï–ù–ù–û–ï –í–´–°–®–ï–ï       29
–ù–ê–ß–ê–õ–¨–ù–û–ï                 17
–ù–∞—á–∞–ª—å–Ω–æ–µ                 15
—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             4
–£—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             1
–£–ß–ï–ù–ê–Ø –°–¢–ï–ü–ï–ù–¨             1
Name: education, dtype: int64

–ü—Ä–∏–≤–µ–¥–µ–º –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ education –∫ –æ–¥–Ω–æ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É:

In [1024]:
df['education'] = df['education'].str.lower()
df['education'].value_counts()

—Å—Ä–µ–¥–Ω–µ–µ                15233
–≤—ã—Å—à–µ–µ                  5260
–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ      744
–Ω–∞—á–∞–ª—å–Ω–æ–µ                282
—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             6
Name: education, dtype: int64

–ü—Ä–æ–≤–µ—Ä–∏–º –Ω–∞–ª–∏—á–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ family_status:

In [1025]:
df['family_status'].value_counts()

–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º          12380
–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫          4177
–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º     2813
–≤ —Ä–∞–∑–≤–æ–¥–µ                 1195
–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞             960
Name: family_status, dtype: int64

–¢–∞–∫–∂–µ –¥–ª—è –Ω–∞–≥–ª—è–¥–Ω–æ—Å—Ç–∏ –ø—Ä–∏–≤–µ–¥–µ–º –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è –∫ –æ–¥–Ω–æ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É:

In [1026]:
df['family_status'] = df['family_status'].str.lower()
df['family_status'].value_counts()

–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º          12380
–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫          4177
–Ω–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º     2813
–≤ —Ä–∞–∑–≤–æ–¥–µ                 1195
–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞             960
Name: family_status, dtype: int64

–ü—Ä–æ–≤–µ—Ä–∏–º –Ω–∞–ª–∏—á–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ gender:

In [1027]:
df['gender'].value_counts()

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

–û–±–Ω–∞—Ä—É–∂–µ–Ω "–∞—Ä—Ç–µ—Ñ–∞–∫—Ç", –ø—Ä–æ–≤–µ—Ä–∏–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –∫–ª–∏–µ–Ω—Ç–µ —Å –Ω–µ–≤–µ—Ä–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –≤ —Å—Ç–æ–ª–±—Ü–µ –ø–æ–ª:

In [1028]:
df[df['gender'] == 'XNA']

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
10701,0,2358,24,–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ,2,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,XNA,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,203905,–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏

–£–¥–∞–ª–∏–º —Å—Ç—Ä–æ–∫—É –∏–∑ —Ç–∞–±–ª–∏—Ü—ã, –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ –Ω–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è —ç—Ç–æ –Ω–µ –ø–æ–≤–ª–∏—è–µ—Ç.

In [1029]:
df = df.drop([10701])

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
    
–ê–≥–∞, —Ä–µ—à–∏–ª –¥—Ä–æ–ø–Ω—É—Ç—å –∑–∞–ø–∏—Å—å, –¥–æ–ø—É—Å—Ç–∏–º–æ

</div>

–ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

In [1030]:
df['gender'].value_counts()

F    14236
M     7288
Name: gender, dtype: int64

–ü—Ä–æ–≤–µ—Ä–∏–º –Ω–∞–ª–∏—á–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ income_type:

In [1031]:
df['income_type'].value_counts()

—Å–æ—Ç—Ä—É–¥–Ω–∏–∫          11119
–∫–æ–º–ø–∞–Ω—å–æ–Ω           5084
–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä           3856
–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π         1459
–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å        2
–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π            2
—Å—Ç—É–¥–µ–Ω—Ç                1
–≤ –¥–µ–∫—Ä–µ—Ç–µ              1
Name: income_type, dtype: int64

–ü—Ä–æ–≤–µ—Ä–∏–º –Ω–∞–ª–∏—á–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ purpose:

In [1032]:
df['purpose'].value_counts()

—Å–≤–∞–¥—å–±–∞                                   797
–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã                     777
—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É                           774
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é                  676
–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏         664
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º                         653
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏                   653
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é     651
–∂–∏–ª—å–µ                                     647
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è                             647
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏                   641
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏    635
–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å                              634
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å–æ —Å–≤–æ–µ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é           630
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏          626
–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                      623
–ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–µ–≥–æ –∂–∏–ª—å—è                      620
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                620
—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é                              612
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                607
–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è              505
–∑–∞–Ω—è—Ç—å—Å—è –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º              496
–∞–≤—Ç–æ–º–æ–±–∏–ª—å                                495
—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º          489
—Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å                           480
–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è        479
–∞–≤—Ç–æ–º–æ–±–∏–ª–∏                                478
–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è                     472
–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è                   462
–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                462
—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º                      455
–≤—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                        453
–ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è     447
–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                               447
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è                     443
–ø—Ä–æ—Ñ–∏–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                    436
–ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è             426
–∑–∞–Ω—è—Ç—å—Å—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º                     412
Name: purpose, dtype: int64

–ó–∞–ø–∏—Å–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ purpose –≤–Ω–µ—Å–µ–Ω—ã –æ–¥–Ω–∏–º —Ä–µ–≥–∏—Å—Ç—Ä–æ–º, –Ω–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—é—Ç —Å–æ–±–æ–π —Ä–∞–∑–ª–∏—á–Ω—ã–µ —Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∫–∏ –æ–¥–Ω–æ–π –∏ —Ç–æ–π –∂–µ —Ü–µ–ª–∏. –ü—Ä–∏–≤–µ–¥–µ–Ω–∏–µ —Ä–∞–∑–ª–∏—á–∞—é—â–∏—Ö—Å—è –ø–æ —Ñ–æ—Ä–º–µ, –Ω–æ –æ–¥–∏–Ω–∞–∫–æ–≤—ã—Ö –ø–æ —Å–º—ã—Å–ª—É –∑–Ω–∞—á–µ–Ω–∏–π –∫ –æ–¥–Ω–æ–π —Ñ–æ—Ä–º–µ –≤—ã–ø–æ–ª–Ω–∏–º –Ω–∏–∂–µ –≤ —Ä–∞–∑–¥–µ–ª–µ –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è.

–ü—Ä–æ–≤–µ—Ä–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤:

In [1033]:
df.duplicated().sum()

71

–ù–∞–π–¥–µ–Ω—ã –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã, —É–¥–∞–ª–∏–º –ª–∏—à–Ω–∏–µ —Å—Ç—Ä–æ–∫–∏.

In [1034]:
df = df.drop_duplicates().reset_index(drop = True)

–ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

In [1035]:
df.duplicated().sum()

0

 <b>–í—ã–≤–æ–¥:</b>

–î—É–±–ª–∏–∫–∞—Ç—ã –º–æ–≥–ª–∏ –ø–æ—è–≤–∏—Ç—å—Å—è –≤—Å–ª–µ–¥—Å—Ç–≤–∏–µ —Å–±–æ—è –≤ –∑–∞–ø–∏—Å–∏ –¥–∞–Ω–Ω—ã—Ö, –ª–∏–±–æ –ø–æ–≤—Ç–æ—Ä–Ω–æ–≥–æ –≤–≤–æ–¥–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–º, –¥–ª—è –±–æ–ª–µ–µ —Ç–æ—á–Ω–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ –ø—Ä–∏—á–∏–Ω—ã –Ω–µ —Ö–≤–∞—Ç–∞–µ—Ç –¥–∞–Ω–Ω—ã—Ö. –°—Ç–æ–∏—Ç –æ–±—Ä–∞—Ç–∏—Ç—å –≤–Ω–∏–º–∞–Ω–∏–µ –∏ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è —Å –ø—Ä–∏—á–∏–Ω–∞–º–∏ –ø–æ—è–≤–ª–µ–Ω–∏—è —Ç–∞–∫–æ–≥–æ ¬´–∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–æ–Ω–Ω–æ–≥–æ –º—É—Å–æ—Ä–∞¬ª.

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
    
–•–æ—Ä–æ—à–æ —Å–¥–µ–ª–∞–ª —Ä–∞–∑–¥–µ–ª –¥—É–±–ª–∏–∫–∞—Ç–æ–≤, –º–æ–ª–æ–¥–µ—Ü

</div>

### –õ–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è

–í—ã–¥–µ–ª–∏–º –ª–µ–º–º—ã –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ purpose –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º –Ω–∞–∏–±–æ–ª–µ–µ –≤—Å—Ç—Ä–µ—á–∞—é—â–∏–µ—Å—è:

In [1036]:
#–∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫—É pymystem3
from pymystem3 import Mystem
m = Mystem() 
purpose_list = df['purpose'].unique()
purpose_str = str(purpose_list)
df['purpose'].value_counts()

—Å–≤–∞–¥—å–±–∞                                   791
–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã                     768
—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É                           765
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é                  675
–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏         661
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º                         652
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏                   651
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é     650
–∂–∏–ª—å–µ                                     646
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è                             646
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏                   638
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏    635
–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å                              633
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å–æ —Å–≤–æ–µ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é           627
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏          624
–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                      620
–ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–µ–≥–æ –∂–∏–ª—å—è                      620
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                619
—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é                              607
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                606
–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è              505
–∑–∞–Ω—è—Ç—å—Å—è –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º              496
–∞–≤—Ç–æ–º–æ–±–∏–ª—å                                494
—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º          486
—Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å                           478
–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è        478
–∞–≤—Ç–æ–º–æ–±–∏–ª–∏                                478
–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è                     471
–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è                   461
–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                460
—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º                      455
–≤—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                        452
–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                               447
–ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è     446
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è                     442
–ø—Ä–æ—Ñ–∏–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                    436
–ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è             426
–∑–∞–Ω—è—Ç—å—Å—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º                     408
Name: purpose, dtype: int64

In [1037]:
lemmas = m.lemmatize(purpose_str)
from collections import Counter
print(Counter(lemmas))

Counter({' ': 59, "' '": 23, "'\n": 14, " '": 14, '–ø–æ–∫—É–ø–∫–∞': 10, '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å': 10, '–∞–≤—Ç–æ–º–æ–±–∏–ª—å': 9, '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ': 9, '–∂–∏–ª—å–µ': 7, '—Å': 5, '–æ–ø–µ—Ä–∞—Ü–∏—è': 4, '–Ω–∞': 4, '—Å–≤–æ–π': 4, '—Å–≤–∞–¥—å–±–∞': 3, '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ': 3, '–ø–æ–ª—É—á–µ–Ω–∏–µ': 3, '–≤—ã—Å–æ–∫–∏–π': 3, '–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–π': 2, '–¥–ª—è': 2, '–∫–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π': 2, '–∂–∏–ª–æ–π': 2, '–ø–æ–¥–µ—Ä–∂–∞—Ç—å': 2, '–∑–∞–Ω–∏–º–∞—Ç—å—Å—è': 2, '—Å–¥–µ–ª–∫–∞': 2, "['": 1, '–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ': 1, '—Å—ã–≥—Ä–∞—Ç—å': 1, '–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ': 1, '—Å–µ–º—å—è': 1, '—Å–æ–±—Å—Ç–≤–µ–Ω–Ω—ã–π': 1, '—Å–æ': 1, '–ø—Ä–æ—Ñ–∏–ª—å–Ω—ã–π': 1, '—Å–¥–∞—á–∞': 1, '—Ä–µ–º–æ–Ω—Ç': 1, "']\n": 1})

–í —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏–∏ –º–æ–∂–Ω–æ –≤—ã–¥–µ–ª–∏—Ç—å –æ—Å–Ω–æ–≤–Ω—ã–µ –ª–µ–º–º—ã: '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å', '–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', –≤—Å—Ç—Ä–µ—á–∞—é—â–∏–µ—Å—è —á–∞—â–µ –≤—Å–µ–≥–æ, –∞ —Ç–∞–∫–∂–µ –±–æ–ª–µ–µ —Ä–µ–¥–∫–∏–µ: '—Ä–µ–º–æ–Ω—Ç', '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ' –∏ '–∫–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π'.

–ù–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏ –≤—ã–¥–µ–ª–µ–Ω–Ω—ã—Ö –ª–µ–º–º, –∑–∞–ø–æ–ª–Ω–∏–º —Å—Ç–æ–ª–±–µ—Ü —Å –¥–∞–Ω–Ω—ã–º–∏ purpose —Å–ª–µ–¥—É—é—â–∏–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏:
- –ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏,
- –ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏, 
- –ø–æ–∫—É–ø–∫–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª—è, 
- –æ–ø–ª–∞—Ç–∞ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è,
- –æ–ø–ª–∞—Ç–∞ —Å–≤–∞–¥—å–±—ã,
- —Ä–µ–º–æ–Ω—Ç –∂–∏–ª–∏—â–∞, 
- —Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –¥–æ–º–∞.

In [1038]:
from nltk.stem import SnowballStemmer 
russian_stemmer = SnowballStemmer('russian') 
queries = purpose_list
stem_list = []
for query in queries:
    for word in query.split():
        stemmed_word = russian_stemmer.stem(word)
        stem_list.append(stemmed_word) 
print(Counter(stem_list))

Counter({'–ø–æ–∫—É–ø–∫': 10, '–Ω–µ–¥–≤–∏–∂–∏–º': 10, '–∂–∏–ª': 9, '–æ–±—Ä–∞–∑–æ–≤–∞–Ω': 9, '–∞–≤—Ç–æ–º–æ–±–∏–ª': 8, '—Å': 5, '–æ–ø–µ—Ä–∞—Ü': 4, '–Ω–∞': 4, '—Å–≤–æ': 4, '—Å–≤–∞–¥—å–±': 3, '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤': 3, '–ø–æ–ª—É—á–µ–Ω': 3, '–≤—ã—Å—à': 3, '–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω': 2, '–¥–ª—è': 2, '–∫–æ–º–º–µ—Ä—á–µ—Å–∫': 2, '–ø–æ–¥–µ—Ä–∂–∞': 2, '–∑–∞–Ω—è': 2, '—Å–¥–µ–ª–∫': 2, '–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω': 1, '—Å—ã–≥—Ä–∞': 1, '–ø—Ä–æ–≤–µ–¥–µ–Ω': 1, '—Å–µ–º': 1, '—Å–æ–±—Å—Ç–≤–µ–Ω': 1, '—Å–æ': 1, '–∞–≤—Ç–æ–º–æ–±': 1, '–ø—Ä–æ—Ñ–∏–ª—å–Ω': 1, '—Å–¥–∞—á': 1, '—Ä–µ–º–æ–Ω—Ç': 1})

–í —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –ø–æ–ª—É—á–∞–µ–º –æ—Å–Ω–æ–≤—ã —Å–ª–æ–≤ –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ –∏ –ø—Ä–∏–≤–µ–¥–µ–Ω–∏—è –∑–Ω–∞—á–µ–Ω–∏–π –∫ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω—ã–º:

In [1039]:
from nltk.stem import SnowballStemmer 
russian_stemmer = SnowballStemmer('russian')  

#—Ñ—É–Ω–∫—Ü–∏—è –ø—Ä–∏–≤–µ–¥–µ–Ω–∏—è –∫ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–º—É –≤–∏–¥—É –≤ —Å—Ç–æ–ª–±—Ü–µ purpose
def purpose_normalize(query):
    for word in query.split():
        stemmed_word = russian_stemmer.stem(word)
        if stemmed_word == '—Ä–µ–º–æ–Ω—Ç':
            return '—Ä–µ–º–æ–Ω—Ç –∂–∏–ª–∏—â–∞'        
        if stemmed_word == '–∫–æ–º–º–µ—Ä—á–µ—Å–∫':
            return '–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏'
        if (stemmed_word == '–Ω–µ–¥–≤–∏–∂–∏–º') or (stemmed_word == '–∂–∏–ª'):
            return '–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏'
        if (stemmed_word == '–∞–≤—Ç–æ–º–æ–±–∏–ª') or(stemmed_word == '–∞–≤—Ç–æ–º–æ–±'):
            return '–ø–æ–∫—É–ø–∫–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª—è'
        if stemmed_word == '—Å–≤–∞–¥—å–±':
            return '–æ–ø–ª–∞—Ç–∞ —Å–≤–∞–¥—å–±—ã'
        if stemmed_word == '–æ–±—Ä–∞–∑–æ–≤–∞–Ω':
            return '–æ–ø–ª–∞—Ç–∞ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è'
        if stemmed_word == '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤':
            return '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –¥–æ–º–∞'
    return query
#–ø—Ä–∏–º–µ–Ω–µ–Ω–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏–∏            
df['purpose'] = df['purpose'].apply(purpose_normalize)

–ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

In [1040]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21453 entries, 0 to 21452
Data columns (total 12 columns):
children            21453 non-null int64
days_employed       21453 non-null int64
dob_years           21453 non-null int64
education           21453 non-null object
education_id        21453 non-null int64
family_status       21453 non-null object
family_status_id    21453 non-null int64
gender              21453 non-null object
income_type         21453 non-null object
debt                21453 non-null int64
total_income        21453 non-null int64
purpose             21453 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

–°—Ç—Ä—É–∫—Ç—É—Ä–∞ Data Frame –Ω–µ –Ω–∞—Ä—É—à–µ–Ω–∞:

In [1041]:
print(df['purpose'].value_counts())

–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                 7014
–ø–æ–∫—É–ø–∫–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª—è                   4306
–æ–ø–ª–∞—Ç–∞ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è                   4013
–æ–ø–ª–∞—Ç–∞ —Å–≤–∞–¥—å–±—ã                       2324
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –¥–æ–º–∞                   1878
–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏    1311
—Ä–µ–º–æ–Ω—Ç –∂–∏–ª–∏—â–∞                         607
Name: purpose, dtype: int64

### –ü—Ä–æ–≤–µ—Ä–∫–∞ –¥–∞–Ω–Ω—ã—Ö

–ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤, –ø—Ä–æ–≤–µ—Ä–∏–º —Å—Ç–æ–ª–±—Ü—ã children, dob_years, total_income, days_employed –Ω–∞ –∞–Ω–æ–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è:

In [1042]:
df['children'].value_counts()

 0     14090
 1      4808
 2      2052
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

–ü—Ä–æ–≤–µ—Ä–∏–º –µ—Å—Ç—å –ª–∏ –∫–ª–∏–µ–Ω—Ç—ã –º–ª–∞–¥—à–µ 18 –ª–µ—Ç:

In [1043]:
df[df['dob_years'] < 18 ]['dob_years'].value_counts()

0    101
Name: dob_years, dtype: int64

–ù–∞–π–¥–µ–Ω–∞ 101 –∑–∞–ø–∏—Å—å —Å –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–º –≤–æ–∑—Ä–∞—Å—Ç–æ–º. <font color='blue'> –ó–∞–º–µ–Ω–∏–º –Ω–∞ –º–µ–¥–∏–∞–Ω—É –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Å—Ç–∞—Ç—É—Å–∞ </text>

In [1044]:
df_age_grouped = df.groupby('income_type').agg({'dob_years':['mean']})
df_age_grouped

                 dob_years
                      mean
income_type
–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π      38.000000
–≤ –¥–µ–∫—Ä–µ—Ç–µ        39.000000
–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π      40.647220
–∫–æ–º–ø–∞–Ω—å–æ–Ω        39.696474
–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä        59.048577
–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å  42.500000
—Å–æ—Ç—Ä—É–¥–Ω–∏–∫        39.808372
—Å—Ç—É–¥–µ–Ω—Ç          22.000000

In [1045]:
group_age = df.groupby('income_type')['dob_years'].median()
group_age
# –∑–∞–ø–æ–ª–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –Ω–∞ –º–µ–¥–∏–∞–Ω–Ω—ã–π –¥–æ—Ö–æ–¥, –æ—Å–Ω–æ–≤—ã–≤–∞—è—Å—å –Ω–∞ —Ç–∏–ø–µ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
for i in group_age.index:
    df.loc[(df['income_type'] == i) & (df['dob_years']==0), 'dob_years'] = group_age[i]

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 
    
    
–ú–æ–ª–æ–¥–µ—Ü, —á—Ç–æ –ø–æ –∏—Ç–æ–≥—É –ø–æ—Ä–∞–±–æ—Ç–∞–ª —Å –∞–Ω–æ–º–∞–ª–∏—è–º–∏ –∏ –ø—Ä–æ–ø—É—Å–∫–∞–º–∏. –ö–∞—Å–∞–µ–º–æ –≤–æ–∑—Ä–∞—Å—Ç–∞, –¥—É–º–∞—é, —á—Ç–æ –º–æ–∂–Ω–æ –±—ã–ª–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É –ø–æ —Å–µ–º–µ–π–Ω–æ–º—É —Å—Ç–∞—Ç—É—Å—É

</div>

–ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

In [1046]:
df[df['dob_years'] < 18 ]['dob_years'].value_counts()

Series([], Name: dob_years, dtype: int64)

–ü—Ä–æ–≤–µ—Ä–∏–º –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π –≤–æ–∑—Ä–∞—Å—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤:

In [1047]:
df['dob_years'].max()

75.0

–ú–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π –≤–æ–∑—Ä–∞—Å—Ç 75 –ª–µ—Ç.

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
    
–í—Å–µ –∂–µ —É–¥–∞–ª—è—Ç—å –Ω–µ–∂–µ–ª–∞—Ç–µ–ª—å–Ω–æ

</div>

<div class="alert alert-block alert-info">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –°–¢–£–î–ï–ù–¢–ê:</b>
    
     –í–º–µ—Å—Ç–æ —É–¥–∞–ª–µ–Ω–∏—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤–æ–∑—Ä–∞—Å—Ç–∞ –¥–æ–±–∞–≤–∏–ª –º–µ–¥–∏–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ç–∏–ø–∞ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
</div>

–ü—Ä–æ–≤–µ—Ä–∏–º –Ω–µ—Ç –ª–∏ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ —Å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –æ –¥–æ—Ö–æ–¥–∞—Ö:

In [1048]:
df[df['total_income'] < 0 ]['total_income'].value_counts()

Series([], Name: total_income, dtype: int64)

–ü—Ä–æ–≤–µ—Ä–∏–º –Ω–µ—Ç –ª–∏ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ —Å—Ç–∞–∂–∞:

In [1049]:
df[df['days_employed'] < 0 ]['days_employed'].value_counts()

Series([], Name: days_employed, dtype: int64)

–ù–∞ –æ—Å–Ω–æ–≤–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∏ —Ä–∞–∑–Ω–æ–æ–±—Ä–∞–∑–∏—è –¥–∞–Ω–Ω—ã—Ö —Å –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–º —Å—Ç–∞–∂–µ–º —Ä–∞–±–æ—Ç—ã –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–µ—Ç–µ–π –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥, —á—Ç–æ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –Ω–µ –µ–¥–∏–Ω–∏—á–Ω–∞—è –æ—à–∏–±–∫–∞, –≤–µ—Ä–æ—è—Ç–Ω–æ –ø—Ä–∏ –≤–≤–æ–¥–µ –¥–∞–Ω–Ω—ã—Ö –∑–Ω–∞–∫ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª—Å—è —Å–ª—É—á–∞–π–Ω–æ.

–ü–æ–º–µ–Ω—è–µ–º –∑–Ω–∞–∫ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö days_employed –∏ children:

In [1050]:
df['days_employed'] = abs(df['days_employed'])
df['children'] = abs(df['children'])

–ü—Ä–æ–≤–µ—Ä–∏–º –≤–æ–∑—Ä–∞—Å—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å 20 –¥–µ—Ç—å–º–∏:

In [1051]:
df[df['children'] == 20]['dob_years'].value_counts()

56.0    5
40.0    4
37.0    4
50.0    3
45.0    3
34.0    3
42.0    3
49.0    3
30.0    3
46.0    3
31.0    2
35.0    2
43.0    2
39.0    2
59.0    2
27.0    2
33.0    2
32.0    2
36.0    2
29.0    2
44.0    2
41.0    2
23.0    1
64.0    1
26.0    1
24.0    1
52.0    1
69.0    1
54.0    1
55.0    1
60.0    1
53.0    1
57.0    1
61.0    1
48.0    1
25.0    1
38.0    1
62.0    1
51.0    1
21.0    1
Name: dob_years, dtype: int64

–ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, —á—Ç–æ 0 –¥–æ–ø–∏—Å–∞–Ω –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –æ—à–∏–±–∫–∏. –ó–∞–º–µ–Ω–∏–º 20 –Ω–∞ 2.

In [1052]:
df.loc[df['children'] == 20, 'children'] = 2

–í—ã–ø–æ–ª–Ω–∏–º –ø—Ä–æ–≤–µ—Ä–∫—É:

In [1053]:
df[df['children'] == 20]['dob_years'].value_counts()

Series([], Name: dob_years, dtype: int64)

–ê–Ω–æ–º–∞–ª—å–Ω–æ –≤—ã—Å–æ–∫–∏–µ –∏ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∑–∞–º–µ–Ω–µ–Ω—ã.

<div class="alert alert-block alert-warning">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
    
–ö–∞—Å–∞–µ–º–æ —Å—Ç–∞–∂–∞ —Ä–∞–Ω–µ–µ –¥–∞–ª —Å–æ–≤–µ—Ç –ø–µ—Ä–µ–¥ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏–µ–º –ø—Ä–æ–ø—É—Å–∫–æ–≤

</div>

<div class="alert alert-block alert-info">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –°–¢–£–î–ï–ù–¢–ê:</b>
    –ò—Å–ø—Ä–∞–≤–∏–ª, –ø–µ—Ä–µ–Ω–µ—Å –∞–Ω–∞–ª–∏–∑ –∞–Ω–æ–º–∞–ª–∏–π –≤—ã—à–µ.
</div>

 <b>–í—ã–≤–æ–¥:</b>

–í —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏–∏ —Ü–µ–ª–∏ —Å–∏—Å—Ç–µ–º–∞—Ç–∏–∑–∏—Ä–æ–≤–∞–Ω—ã –¥–ª—è –Ω–∞–≥–ª—è–¥–Ω–æ–≥–æ –≤–æ—Å–ø—Ä–∏—è—Ç–∏—è. –ü—Ä–æ–∏–∑–≤–µ–¥–µ–Ω –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –∞–Ω–æ–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –∏–∑–º–µ–Ω–µ–Ω –∑–Ω–∞–∫ –∑–Ω–∞—á–µ–Ω–∏–π —Å–æ –∑–Ω–∞–∫–æ–º –º–∏–Ω—É—Å.

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
    
–•–æ—Ä–æ—à–µ–µ —Å–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤–æ–≥–æ –ø—Ä–∏–∑–Ω–∞–∫–∞ —Ü–µ–ª–µ–π

</div>

### –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

#### –ü–æ –Ω–∞–ª–∏—á–∏—é –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–∏
–°–æ–∑–¥–∞–¥–∏–º –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –¥–∞–Ω–Ω—ã—Ö –ø–æ –Ω–∞–ª–∏—á–∏—é –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–∏ –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –∏ —á–∏—Ç–∞–µ–º–æ—Å—Ç–∏ —Ç–∞–±–ª–∏—Ü—ã –ø—Ä–∏ —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–∏ —Å–≤–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã –≤ —Å–ª–µ–¥—É—é—â–µ–º –ø—É–Ω–∫—Ç–µ:

In [1054]:
def is_debt(debt):
    if debt == 1:
        return '–∫—Ä–µ–¥–∏—Ç –ø—Ä–æ—Å—Ä–æ—á–µ–Ω'
    if debt == 0:
        return '–∫—Ä–µ–¥–∏—Ç –æ–ø–ª–∞—á–µ–Ω –≤ —Å—Ä–æ–∫'

df_debt = df
df_debt['is_debt'] = df_debt['debt'].apply(is_debt)

#### –ü–æ —É—Ä–æ–≤–Ω—é –¥–æ—Ö–æ–¥–æ–≤
–î–ª—è –æ—Ç–≤–µ—Ç–∞ –Ω–∞ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –≤ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–∏ –≤–æ–ø—Ä–æ—Å—ã –≤—ã–¥–µ–ª–∏–º —Å–ª–µ–¥—É—é—â–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤:

- –∫–ª–∏–µ–Ω—Ç—ã —Å –≤—ã—Å–æ–∫–∏–º –¥–æ—Ö–æ–¥–æ–º
- –∫–ª–∏–µ–Ω—Ç—ã —Å–æ —Å—Ä–µ–¥–Ω–∏–º –¥–æ—Ö–æ–¥–æ–º
- –∫–ª–∏–µ–Ω—Ç—ã —Å –Ω–∏–∑–∫–∏–º –¥–æ—Ö–æ–¥–æ–º

–†–∞–∑–æ–±—å–µ–º –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –ø–æ —É—Ä–æ–≤–Ω—é –¥–æ—Ö–æ–¥–∞:

In [1055]:
df['total_income'].describe().astype(int)

count      21453
mean      151008
std       109738
min            0
25%        89088
50%       135773
75%       195799
max      2265604
Name: total_income, dtype: int64

–°—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 165262, –º–µ–¥–∏–∞–Ω–∞ 145017.
–î–∏–∞–ø–∞–∑–æ–Ω –¥–æ—Ö–æ–¥–∞ –æ—Ç 20667 –¥–æ 2265604.

In [1056]:
def total_income_cat(income):
    if income < 89000:
        return '–Ω–∏–∑–∫–∏–π'
    if 145000 >= income >= 135000:
        return '–Ω–∏–∂–µ —Å—Ä–µ–¥–Ω–µ–≥–æ'
    if 145000 <= income <= 151000:
        return '–≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ'
    if income > 195000:
        return '–≤—ã—Å–æ–∫–∏–π'
    

df_total_income = df
df_total_income['income_level'] = df_total_income['total_income'].apply(total_income_cat)
#—Å–≤–æ–¥–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞
df_pivot_total_income = df.pivot_table(index=['income_level'], columns='is_debt', values='debt', aggfunc='count')
df_pivot_total_income

is_debt        –∫—Ä–µ–¥–∏—Ç –æ–ø–ª–∞—á–µ–Ω –≤ —Å—Ä–æ–∫  –∫—Ä–µ–¥–∏—Ç –ø—Ä–æ—Å—Ä–æ—á–µ–Ω
income_level
–≤—ã—Å–æ–∫–∏–π                         5033               389
–≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ                    522                54
–Ω–∏–∂–µ —Å—Ä–µ–¥–Ω–µ–≥–æ                   1027               109
–Ω–∏–∑–∫–∏–π                          4936               419

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
    
–î–ª—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏–∏ –ø–æ –∫–≤–∞—Ä—Ç–∏–ª—è–º –º–æ–∂–Ω–æ –±—ã–ª–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å pd.qcut https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html

</div>

#### –ö–∞—Ç–µ–≥–æ—Ä–∏–∏ –∫–ª–∏–µ–Ω—Ç—ã —Å –¥–µ—Ç—å–º–∏
–î–æ–±–∞–≤–∏–º 2 –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ –∏ –æ—Ç–≤–µ—Ç–æ–≤ –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –æ–ø–ª–∞—Ç–æ–π –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫
- –∫–ª–∏–µ–Ω—Ç—ã —Å –¥–µ—Ç—å–º–∏
- –∫–ª–∏–µ–Ω—Ç—ã –±–µ–∑ –¥–µ—Ç–µ–π

In [1057]:
def is_children(children):
    if children > 0:
        return '–µ—Å—Ç—å –¥–µ—Ç–∏'
    if children == 0:
        return '–±–µ–∑ –¥–µ—Ç–µ–π'
    
df_children = df    
df_children['is_children'] = df_children['children'].apply(is_children)

 <b>–í—ã–≤–æ–¥:</b>

–í—ã–¥–µ–ª–µ–Ω—ã –Ω–æ–≤—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –¥–∞–Ω–Ω—ã—Ö –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç—ã —Å —Ç–∞–±–ª–∏—Ü–µ–π –∏ –æ—Ç–≤–µ—Ç–æ–≤ –Ω–∞ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –≤–æ–ø—Ä–æ—Å—ã.

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 
    
    
–ë—ã–ª–æ –±—ã –∫–ª–∞—Å—Å–Ω–æ –µ—â–µ –¥–æ–±–∞–≤–∏—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –ø–æ –≤–µ—Ç–∫–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–µ—Ç–µ–π: –±–µ–∑ –¥–µ—Ç–µ–π \ –º–∞–ª–æ–¥–µ—Ç–Ω–∞—è \ –º–Ω–æ–≥–æ–¥–µ—Ç–Ω–∞—è

</div>

## –®–∞–≥ 3. –û—Ç–≤–µ—Ç—å—Ç–µ –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã

### –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

–î–ª—è –æ—Ç–≤–µ—Ç–∞ –Ω–∞ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–π –≤–æ–ø—Ä–æ—Å —Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –¥–µ—Ç–µ–π, —Ä–∞—Å—Å—á–∏—Ç–∞–µ–º —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø—Ä–æ—Å—Ä–æ—á–µ–Ω–Ω—ã—Ö –∫—Ä–µ–¥–∏—Ç–æ–≤ –∫ –æ–±—â–µ–º—É —á–∏—Å–ª—É –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø–µ.

In [1058]:
#—Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –¥–µ—Ç–µ–π –∏ –ø–æ—Å—á–∏—Ç–∞–µ–º –∏—Ö –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ
children_grouped_count = df.groupby('children')['debt'].count()

In [1059]:
#–ø–æ—Å—Ç—Ä–æ–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É:
children_pivot = df.pivot_table(index = ['children'], \
                                columns = ['debt'], \
                                values = 'purpose', aggfunc='count')
#—Ä–∞—Å—Å—á–∏—Ç–∞–µ–º –æ—Ç–Ω–æ—à–µ–Ω–∏–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –∫–æ –≤—Å–µ–º –æ—Å—Ç–∞–ª—å–Ω—ã–º –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏
children_pivot['ratio'] = children_pivot[1] / children_grouped_count * 100
children_pivot = children_pivot.round(2).fillna(0)
children_pivot

debt            0       1  ratio
children
0         13027.0  1063.0   7.54
1          4410.0   445.0   9.17
2          1926.0   202.0   9.49
3           303.0    27.0   8.18
4            37.0     4.0   9.76
5             9.0     0.0   0.00

–ü–æ –ø—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω—ã–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º –Ω–µ–ª—å–∑—è —Å–∫–∞–∑–∞—Ç—å, —á—Ç–æ –∫–ª–∏–µ–Ω—Ç—ã —Å 5 –¥–µ—Ç—å–º–∏ —Å –º–µ–Ω—å—à–µ–π –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é –ø—Ä–æ—Å—Ä–æ—á–∞—Ç –ø–ª–∞—Ç–µ–∂–∏, —Ç–∞–∫ –∫–∞–∫ –≤—ã–±–æ—Ä–∫–∞ –Ω–µ —Ä–µ–ø—Ä–µ–∑–µ–Ω—Ç–∞—Ç–∏–≤–Ω–∞.

–ü—Ä–æ–≤–µ—Ä–∏–º –∫–∞–∫ –æ–±—Å—Ç–æ—è—Ç –¥–µ–ª–∞ –≤ —Å—É–º–º–µ:

In [1060]:
children_grouped_sum = df_children.groupby('is_children')['debt'].sum()
children_grouped_count = df_children.groupby('is_children')['debt'].count()
relation_children = children_grouped_sum / children_grouped_count * 100

relation_children.round(2)

is_children
–±–µ–∑ –¥–µ—Ç–µ–π    7.54
–µ—Å—Ç—å –¥–µ—Ç–∏    9.21
Name: debt, dtype: float64

 <b>–í—ã–≤–æ–¥:</b>

–ö–∞–∫ –º–æ–∂–Ω–æ –∑–∞–º–µ—Ç–∏—Ç—å –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É–µ—Ç –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫. –í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–ø–ª–∞—Ç—ã –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫ —É –∫–ª–∏–µ–Ω—Ç–æ–≤ –±–µ–∑ –¥–µ—Ç–µ–π –≤—ã—à–µ, —á–µ–º —É –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –¥–µ—Ç—å–º–∏.

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 

* –ö–∞–∫ –º—ã –≤–∏–¥–∏–º, —É –Ω–∞—Å –º–µ–∂—É 0 –∏ 1 —Ä–µ–±–µ–Ω–∫–æ–º –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç –¥–æ–≤–æ–ª—å–Ω–æ –æ—â—É—Ç–∏–º—ã–π —Å–∫–∞—á–æ–∫ –Ω–µ–≤–æ–∑–≤—Ä–∞—Ç–æ–≤, —Å 7 –¥–æ 9 %, –¥–µ–ª–∞–µ–º –≤—ã–≤–æ–¥, —á—Ç–æ –Ω–∞–ª–∏—á–∏–µ –¥–µ—Ç–µ–π, –∏–º–µ–Ω–Ω–æ –Ω–∞–ª–∏—á–∏–µ, –∏–≥—Ä–∞–µ—Ç —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω—É—é —Ä–æ–ª—å. –ê –≤–æ—Ç –µ—Å–ª–∏ –º—ã –Ω–∞—á–Ω–µ–º –∏–∑—É—á–∞—Ç—å –∫–æ–ª-–≤–æ –¥–µ—Ç–µ–π, —Ç–æ –∑–∞–º–µ—Ç–∏–º, —á—Ç–æ % –≤–∞—Ä—å–∏—Ä—É–µ—Ç—Å—è –æ—Ç —Ä–µ–±–µ–Ω–∫–∞ –∫ —Ä–µ–±–µ–Ω–∫—É, –Ω–æ –æ–Ω –Ω–µ —Ç–∞–∫–æ–π —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π –∫–∞–∫ —Ñ–∞–∫—Ç –Ω–∞–ª–∏—á–∏—è —Ä–µ–±–µ–Ω–∫–∞, –Ω–æ –≤—Å–µ –∂–µ —Ç–∞–∫–∂–µ –∑–Ω–∞—á–∏–º. –í–∏–¥–∏–º, —á—Ç–æ –≤—ã–¥–µ–ª—è–µ—Ç—Å—è –≥—Ä—É–ø–ø–∞ —Å–µ–º–µ–π —Å —Ç—Ä–µ–º—è –¥–µ—Ç—å–º–∏, –æ–Ω–∞ –Ω–∞–∏–±–æ–ª–µ–µ –±–µ–∑–æ–ø–∞—Å–Ω–∞—è (–µ—Å–ª–∏ –Ω–µ —É—á–∏—Ç—ã–≤–∞—Ç—å —Å–µ–º—å–∏ –±–µ–∑ –¥–µ—Ç–µ–π) –°–µ–º—å—è —Å 4-5 –¥–µ—Ç—å–º–∏ —Å–ª–∏—à–∫–æ–º –º–∞–ª–æ—á–∏—Å–ª–µ–Ω–Ω–∞, —á—Ç–æ–±—ã –¥–µ–ª–∞—Ç—å –ø–æ –Ω–∏–º –æ–±—ä–µ–∫—Ç–∏–≤–Ω—ã–µ —Å—É–∂–¥–µ–Ω–∏—è (–ø–æ—ç—Ç–æ–º—É —è –ø—Ä–µ–¥–ª–∞–≥–∞–ª –ø—Ä–æ–≤–µ—Å—Ç–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—é)
    
</div>

### –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

–î–ª—è –æ—Ç–≤–µ—Ç–∞ –Ω–∞ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–π –≤–æ–ø—Ä–æ—Å —Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ —Å–µ–º–µ–π–Ω–æ–º—É –ø–æ–ª–æ–∂–µ–Ω–∏—é, —Ä–∞—Å—Å—á–∏—Ç–∞–µ–º —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø—Ä–æ—Å—Ä–æ—á–µ–Ω–Ω—ã—Ö –∫—Ä–µ–¥–∏—Ç–æ–≤ –∫ –æ–±—â–µ–º—É —á–∏—Å–ª—É –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø–µ.

In [1061]:
family_grouped_count = df.groupby('family_status')['debt'].count()

In [1062]:
family_status_pivot = df.pivot_table(index = ['family_status'], \
                                columns = ['debt'], \
                                values = 'purpose', aggfunc='count')
family_status_pivot['relation'] = family_status_pivot [1] / family_grouped_count * 100
family_status_pivot.round(2)

debt                       0    1  relation
family_status
–≤ —Ä–∞–∑–≤–æ–¥–µ               1110   85      7.11
–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞           896   63      6.57
–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫        3762  388      9.35
–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º        11408  931      7.55
–Ω–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º   2536  274      9.75

 <b>–í—ã–≤–æ–¥:</b>

–°–æ–≥–ª–∞—Å–Ω–æ –ø–æ–ª—É—á–µ–Ω–Ω—ã–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º –Ω–∞–∏–±–æ–ª—å—à–∞—è –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –ø—Ä–æ—Å—Ä–æ—á–∏—Ç—å –∫—Ä–µ–¥–∏—Ç —É –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–µ —Å–æ—Å—Ç–æ—è—â–∏—Ö –≤ –±—Ä–∞–∫–µ –∏–ª–∏ —Å–æ—Å—Ç–æ—è—â–∏—Ö –≤ –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–æ–º –±—Ä–∞–∫–µ. –ù–∞–∏–º–µ–Ω—å—à–∞—è –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —É –≤–¥–æ–≤—ã –∏–ª–∏ –≤–¥–æ–≤—Ü–∞, –ª—é–¥–µ–π —Å–æ—Å—Ç–æ—è—â–∏—Ö –≤ –±—Ä–∞–∫–µ –∏ —Ä–∞–∑–≤–µ–¥–µ–Ω–Ω—ã—Ö. –§–∏–Ω–∞–Ω—Å–æ–≤–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –ª—é–¥–µ–π —Å–æ—Å—Ç–æ—è—â–∏—Ö –≤ –∑–∞–∫–æ–Ω–Ω–æ–º –±—Ä–∞–∫–µ –±–æ–ª–µ–µ —Å—Ç–∞–±–∏–ª—å–Ω–æ. –í–µ—Ä–æ—è—Ç–Ω–æ, —É –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ—Ç–µ—Ä—è–≤—à–∏—Ö —Å—É–ø—Ä—É–≥–∞ –Ω–∞ —Ñ–∏–Ω–∞–Ω—Å–æ–≤–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –≤–ª–∏—è—é—Ç —Å—Ç—Ä–∞—Ö–æ–≤—ã–µ –≤—ã–ø–ª–∞—Ç—ã, –ø–µ–Ω—Å–∏–∏.

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 

–ò–Ω—Ç–µ—Ä–µ—Å–Ω–∞—è –º—ã—Å–ª—å
    
</div>

### –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [1063]:
#—Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ —É—Ä–æ–≤–Ω—é –¥–æ—Ö–æ–¥–∞ –∏ –ø–æ—Å—á–∏—Ç–∞–µ–º –∏—Ö –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ
count_all = df_total_income.groupby('income_level')['debt'].count()
#—Ä–∞—Å—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∫–∞–∂–¥–æ–π –∏–∑ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏
sum_debt = df_total_income.groupby('income_level')['debt'].sum()
#—Ä–∞—Å—Å—á–∏—Ç–∞–µ–º –æ—Ç–Ω–æ—à–µ–Ω–∏–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –∫–æ –≤—Å–µ–º –æ—Å—Ç–∞–ª—å–Ω—ã–º –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏
relation_income = sum_debt / count_all * 100
df_pivot_total_income['relation'] = relation_income.round(2)
df_pivot_total_income

is_debt        –∫—Ä–µ–¥–∏—Ç –æ–ø–ª–∞—á–µ–Ω –≤ —Å—Ä–æ–∫  –∫—Ä–µ–¥–∏—Ç –ø—Ä–æ—Å—Ä–æ—á–µ–Ω  relation
income_level
–≤—ã—Å–æ–∫–∏–π                         5033               389      7.17
–≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ                    522                54      9.38
–Ω–∏–∂–µ —Å—Ä–µ–¥–Ω–µ–≥–æ                   1027               109      9.60
–Ω–∏–∑–∫–∏–π                          4936               419      7.82

 <b>–í—ã–≤–æ–¥:</b>

–°–æ–≥–ª–∞—Å–Ω–æ –ø–æ–ª—É—á–µ–Ω–Ω–æ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–∏ —É –∫–∞—Ç–µ–≥–æ—Ä–∏–π –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –≤—ã—Å–æ–∫–∏–º –∏ –Ω–∏–∑–∫–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –æ—Ç–ª–∏—á–∞—é—Ç—Å—è –Ω–µ–∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ. –ö–ª–∏–µ–Ω—Ç—ã —Å –¥–æ—Ö–æ–¥–æ–º –Ω–∏–∂–µ –∏ –≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ —Ç–∞–∫ –∂–µ –ø—Ä–∏–±–ª–∏–∑–∏—Ç–µ–ª—å–Ω–æ —Ä–∞–≤–Ω—ã. 

–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å <font color='blue'> –Ω–µ </font> –≤–æ–∑–≤—Ä–∞—Ç–∞ –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫ —É –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å–æ —Å—Ä–µ–¥–Ω–∏–º –¥–æ—Ö–æ–¥–æ–º –≤—ã—à–µ, —á–µ–º —É –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –≤—ã—Å–æ–∫–∏–º –∏–ª–∏ –Ω–∏–∑–∫–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞.

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 


–ù–∞–æ–±–æ—Ä–æ—Ç –∂–µ, –º—ã —è–≤–Ω–æ –≤–∏–¥–∏–º, —á—Ç–æ –∫–ª–∏–µ–Ω—Ç—ã —Å—Ä–µ–¥–Ω–∏—Ö –¥–æ—Ö–æ–¥–æ–≤ –Ω–∞–∏–±–æ–ª–µ–µ —Ä–∏—Å–∫–æ–≤—ã–µ
</div>

<div class="alert alert-block alert-info">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –°–¢–£–î–ï–ù–¢–ê:</b>
    –ò—Å–ø—Ä–∞–≤–∏–ª.
</div>

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 
    
    
–°—Ä–µ–¥–Ω–∏–π –∫–ª–∞—Å—Å –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –≤—ã–≥–ª—è–¥–∏—Ç –∫–∞–∫ –Ω–∞–∏–±–æ–ª–µ–µ —Ä–∏—Å–∫–æ–≤–∞—è –≥—Ä—É–ø–ø–∞ –∫–ª–∏–µ–Ω—Ç–æ–≤

</div>

### –ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?

–î–ª—è –æ—Ç–≤–µ—Ç–∞ –Ω–∞ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–π –≤–æ–ø—Ä–æ—Å —Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ —Ü–µ–ª—è–º –ø–æ–ª—É—á–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞, —Ä–∞—Å—Å—á–∏—Ç–∞–µ–º —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø—Ä–æ—Å—Ä–æ—á–µ–Ω–Ω—ã—Ö –∫—Ä–µ–¥–∏—Ç–æ–≤ –∫ –æ–±—â–µ–º—É —á–∏—Å–ª—É –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø–µ.

In [1064]:
#—Å–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –∫–ª–∏–µ–Ω—Ç–æ–≤ –ø–æ —Ü–µ–ª—è–º –ø–æ–ª—É—á–µ–Ω–∏–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –∏ –ø–æ—Å—á–∏—Ç–∞–µ–º –∏—Ö –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ
purposes_grouped_count = df.groupby('purpose')['debt'].count()
#—Ä–∞—Å—Å—á–∏—Ç–∞–µ–º –æ—Ç–Ω–æ—à–µ–Ω–∏–∏–µ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –∫–æ –≤—Å–µ–º –æ—Å—Ç–∞–ª—å–Ω—ã–º –≤ –≥—Ä—É–ø–ø–µ
family_status_pivot = df.pivot_table(index = ['purpose'], \
                                columns = ['debt'], \
                                values = 'income_level', aggfunc='count')
family_status_pivot['relation'] = family_status_pivot[1] / purposes_grouped_count * 100
family_status_pivot.round(2)

debt                                  0    1  relation
purpose
–æ–ø–ª–∞—Ç–∞ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è                 2140  191      4.76
–æ–ø–ª–∞—Ç–∞ —Å–≤–∞–¥—å–±—ã                     1214  106      4.56
–ø–æ–∫—É–ø–∫–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª—è                 2304  230      5.34
–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏   728   67      5.11
–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏               3783  276      3.93
—Ä–µ–º–æ–Ω—Ç –∂–∏–ª–∏—â–∞                       340   18      2.97
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –¥–æ–º–∞                 1009   83      4.42

 <b>–í—ã–≤–æ–¥:</b>

–°–æ–≥–ª–∞—Å–Ω–æ –ø–æ–ª—É—á–µ–Ω–Ω—ã–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º –ø–æ–ª—É—á–µ–Ω–∏–µ –∫—Ä–µ–¥–∏—Ç–∞ –Ω–∞ –æ–ø–ª–∞—Ç—É –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –∏ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è –∏–º–µ—é—Ç –±–æ–ª—å—à—É—é –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –±—ã—Ç—å –ø—Ä–æ—Å—Ä–æ—á–µ–Ω–Ω—ã–º. –ö—Ä–µ–¥–∏—Ç –Ω–∞ —Ä–µ–º–æ–Ω—Ç –±—É–¥–µ—Ç –≤—ã–ø–ª–∞—á–µ–Ω —Å –±–æ–ª—å—à–µ–π –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é.

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 


–í–∏–¥–∏–º, —á—Ç–æ –∞–≤—Ç–æ –∏ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –Ω–∞–∏–±–æ–ª–µ–µ —Ä–∏—Å–∫–æ–≤—ã–µ, —Ç–æ–≥–¥–∞ –∫–∞–∫ —Ü–µ–ª–∏, —Å–≤—è–∑–∞–Ω–Ω—ã–µ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é, –Ω–∞–∏–±–æ–ª–µ–µ –Ω–∞–¥–µ–∂–Ω—ã–µ, –∫–∞–∫ –≤–ø—Ä–æ—á–µ–º –∏–∏ —Å–≤–∞–¥—å–±–∞
</div>

## –®–∞–≥ 4. –û–±—â–∏–π –≤—ã–≤–æ–¥

–í–æ–ø—Ä–æ—Å—ã —Å—Ç–æ—è—â–∏–µ –ø–µ—Ä–µ–¥ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ–º –¥–∞–Ω–Ω—ã—Ö:
- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?
- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?
- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?
- –ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?

–ö–∞–∫ –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É–µ—Ç –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫. –ö–ª–∏–µ–Ω—Ç—ã –±–µ–∑ –¥–µ—Ç–µ–π —Ä–µ–∂–µ –∏–º–µ—é—Ç –¥–æ–ª–≥–∏ –ø–æ –∫—Ä–µ–¥–∏—Ç–∞–º. 

–°–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ —Ç–∞–∫–∂–µ –≤–ª–∏—è–µ—Ç –Ω–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫—Ä–µ–¥–∏—Ç–æ–≤ –ø–æ–≥–∞—à–µ–Ω–Ω—ã—Ö –≤ —Å—Ä–æ–∫, –≤–¥–æ–≤—ã, –≤–¥–æ–≤—Ü—ã, <font color='blue'> –∞ —Ç–∞–∫–∂–µ –ª—é–¥–∏ —Å–æ—Å—Ç–æ—è—â–∏–µ –≤ –±—Ä–∞–∫–µ –∏ —Ä–∞–∑–≤–µ–¥–µ–Ω–Ω—ã–µ —Ä–µ–∂–µ –∏–º–µ—é—Ç –ø—Ä–æ—Å—Ä–æ—á–∫–∏ –ø–æ –∫—Ä–µ–¥–∏—Ç—É. –§–∏–Ω–∞–Ω—Å–æ–≤–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –ª—é–¥–µ–π —Å–æ—Å—Ç–æ—è—â–∏—Ö –≤ –∑–∞–∫–æ–Ω–Ω–æ–º –±—Ä–∞–∫–µ –±–æ–ª–µ–µ —Å—Ç–∞–±–∏–ª—å–Ω–æ  </font>

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 


–ö–∞–∂–µ—Ç—Å—è —Ç—ã –Ω–µ –¥–æ–ø–∏—Å–∞–ª –≤—ã–≤–æ–¥ –ø—Ä–æ —Å–µ–º–µ–π–Ω—ã–π —Å—Ç–∞—Ç—É—Å
</div>

<font color='blue'> –í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –Ω–µ –≤–æ–∑–≤—Ä–∞—Ç–∞ –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫ —É –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å–æ —Å—Ä–µ–¥–Ω–∏–º –¥–æ—Ö–æ–¥–æ–º –≤—ã—à–µ, —á–µ–º —É –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –≤—ã—Å–æ–∫–∏–º –∏–ª–∏ –Ω–∏–∑–∫–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞.  </font>

<div class="alert alert-block alert-danger">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 


–í—ã–≤–æ–¥ –ø—Ä–æ –¥–æ—Ö–æ–¥ –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π
</div>

–ü–æ–ª—É—á–µ–Ω–∏–µ –∫—Ä–µ–¥–∏—Ç–∞ –Ω–∞ –æ–ø–ª–∞—Ç—É –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è –∏ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è –∏–º–µ—é—Ç –±–æ–ª—å—à—É—é –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –±—ã—Ç—å –Ω–µ –æ–ø–ª–∞—á–µ–Ω–Ω—ã–º–∏ –≤ —Å—Ä–æ–∫. –ö—Ä–µ–¥–∏—Ç –Ω–∞ —Ä–µ–º–æ–Ω—Ç –±—É–¥–µ—Ç –≤—ã–ø–ª–∞—á–µ–Ω —Å –±–æ–ª—å—à–µ–π –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é.

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê:</b> 

`–†–æ–º–∞–Ω, —Ç—ã —Ö–æ—Ä–æ—à–æ –≤—ã–ø–æ–ª–Ω–∏–ª –ø—Ä–æ–µ–∫—Ç, –Ω—É–∂–Ω–æ –ø–æ–¥–ø—Ä–∞–≤–∏—Ç—å –∫–æ–Ω–µ—á–Ω–æ –ø–∞—Ä–æ—á–∫—É –º–æ–º–µ–Ω—Ç–æ–≤, –Ω–æ –¥—É–º–∞—é —É —Ç–µ–±—è –ø–æ–ª—É—á–∏—Ç—Å—è!`
    
</div>

<div class="alert alert-block alert-success">
<b>–ö–û–ú–ú–ï–ù–¢–ê–†–ò–ô –†–ï–í–¨–Æ–í–ï–†–ê 2:</b> 
    
    
–•–æ—Ä–æ—à–æ, –º–æ–ª–æ–¥–µ—Ü

</div>

–ß–µ–∫-–ª–∏—Å—Ç –≥–æ—Ç–æ–≤–Ω–æ—Å—Ç–∏ –ø—Ä–æ–µ–∫—Ç–∞

–ü–æ—Å—Ç–∞–≤—å—Ç–µ 'x' –≤ –≤—ã–ø–æ–ª–Ω–µ–Ω–Ω—ã—Ö –ø—É–Ω–∫—Ç–∞—Ö. –î–∞–ª–µ–µ –Ω–∞–∂–º–∏—Ç–µ Shift+Enter.

- [x]  –æ—Ç–∫—Ä—ã—Ç —Ñ–∞–π–ª;
- [x]  —Ñ–∞–π–ª –∏–∑—É—á–µ–Ω;
- [x]  –æ–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è;
- [x]  –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è;
- [x]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã;
- [x]  –æ–ø–∏—Å–∞–Ω—ã –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –ø–æ—è–≤–ª–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö;
- [x]  –æ–±—ä—è—Å–Ω–µ–Ω–æ, –ø–æ –∫–∞–∫–æ–º—É –ø—Ä–∏–Ω—Ü–∏–ø—É –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏;
- [x]  –∑–∞–º–µ–Ω–µ–Ω –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π;
- [x]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–æ–π –º–µ—Ç–æ–¥ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –∏–∑–º–µ–Ω–µ–Ω–∏—è —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö –∏ –ø–æ—á–µ–º—É;
- [x]  —É–¥–∞–ª–µ–Ω—ã –¥—É–±–ª–∏–∫–∞—Ç—ã;
- [x]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–æ–π –º–µ—Ç–æ–¥ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –ø–æ–∏—Å–∫–∞ –∏ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤;
- [x]  –æ–ø–∏—Å–∞–Ω—ã –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –ø–æ—è–≤–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö;
- [x]  –≤—ã–¥–µ–ª–µ–Ω—ã –ª–µ–º–º—ã –≤ –∑–Ω–∞—á–µ–Ω–∏—è—Ö —Å—Ç–æ–ª–±—Ü–∞ —Å —Ü–µ–ª—è–º–∏ –ø–æ–ª—É—á–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞;
- [x]  –æ–ø–∏—Å–∞–Ω –ø—Ä–æ—Ü–µ—Å—Å –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏–∏;
- [x]  –¥–∞–Ω–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∏—Ä–æ–≤–∞–Ω—ã;
- [x]  –µ—Å—Ç—å –æ–±—ä—è—Å–Ω–µ–Ω–∏–µ –ø—Ä–∏–Ω—Ü–∏–ø–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö;
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [x]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?";
- [x]  –≤ –∫–∞–∂–¥–æ–º —ç—Ç–∞–ø–µ –µ—Å—Ç—å –≤—ã–≤–æ–¥—ã;
- [x]  –µ—Å—Ç—å –æ–±—â–∏–π –≤—ã–≤–æ–¥.